#name{
  font-size: 90px;
  font-weight: bold;
  font-family: Arial, "MS Trebuchet", sans-serif;
  color: blue;
}
#thumbometer_image{
  margin-top: 0px;
}
#thumbometer{
  position: relative;
}
#bulb{
  position: absolute;
  top: 30px;
  left: 30px;
}
#end{
  position: absolute;
  top: 62px;
  left: 892px;
}
.thumbometer_step{
  height: 30px;
  border: 1px solid black;
}
#thumbs_down{
  float: left;
}
#thumbs_up{
}
#steps_to_go{
  font-size: 30px;
  font-weight: bold;
  font-family: Arial, "MS Trebuchet", sans-serif;
}