<p>
  <b>Negative steps:</b>
  <%=h @thumbometer.negative_steps %>
</p>

<p>
  <b>Positive steps:</b>
  <%=h @thumbometer.positive_steps %>
</p>


<%= link_to 'Edit', edit_thumbometer_path(@thumbometer) %> |
<%= link_to 'Back', thumbometers_path %>